table,
th,
td {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: #8f3022;
}

table {
  width: 800px;
  border: 3px darkgray;
  border-style: outset;
  border-spacing: 0;
  background-color: white;
}

th {
  border: 3px lightgray;
  border-style: inset;
  background-color: #669966;
}

td {
  border: 3px lightgray;
  border-style: inset;
  background-color: #ffffcc;
}

.td1 {
    background-color: #FFCC99;
}

.td2 {
    background-color: #FFFF99;
}